{% extends 'base.html' %}


{% block content %}
<link href="{{ url_for('static', filename='css/empty_check.css')}}" rel="stylesheet">

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">行為</h1>
        <div>
            <button id="addBehavior" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMemberModal">
                新增行為
            </button>
        </div>
    </div>

    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">行為</th>
                </tr>
            </thead>
            <tbody>
                {% for behavior in behaviors %}
                <tr>
                    <td scope="row">{{ behavior["behavior_id"] }}</td>
                    <td>{{ behavior["chinese_name"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">新增行為</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        {{ behavior_form.chinese_name(class="form-control", placeholder="") }}
                        {{ behavior_form.chinese_name.label }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ behavior_form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{{ url_for('static', filename='js/api/post_behavior.js')}}"></script>
{% endblock %}