{% extends 'base.html' %}


{% block content %}
<link href="{{ url_for('static', filename='css/empty_check.css')}}" rel="stylesheet">

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
            <h1 class="h1">空拍檢查</h1>
            <a href="{{ url_for('perch_mount', perch_mount_id=perch_mount['perch_mount_id'])}}"
                class="text-decoration-none">
                <h4 class="text-secondary">{{ perch_mount["perch_mount_name"] }}</h4>
            </a>
        </div>
    </div>
    {% if not media %}
    <div class="alert alert-success" role="alert">
        你選擇的檔案已經都檢查完空拍了。
    </div>
    {% else %}
    <div class="shadow-sm bg-light p-3 rounded-2">
        <div id="load" class="text-center">
            <p class="text-secondary">正在讀取資料並下載所需要的照片...</p>
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div id="contents">
            <div id="empty_check_media" class="d-flex flex-wrap">

                {% for medium in media %}
                <div id="{{ medium['empty_medium_id'] }}"
                    class="card shadow border-0 border border-primary m-3 d-flex align-items-center p-3 pm-media empty-medium"
                    style="width: 20rem;">
                    {% if medium["is_image"] %}
                    <img src="{{ url_for('send_media', path=medium['epath']) }}" class="card-img-top"
                        alt="{{ medium['path']}} " loading="lazy">
                    {% else %}
                    <video src="{{ url_for('send_media', path=medium['epath']) }}" class="card-img-top"
                        controls></video>
                    {% endif %}
                    <input name="false_nagetve" type="checkbox" hidden>
                    <input type="text" value="{{ medium['medium_datetime'] }}" name="medium_datetime" hidden>
                    <input type="number" value="{{ medium['section'] }}" name="section" hidden>
                    <input type="text" value="{{ medium['path'] }}" name="path" hidden>
                    <small class="text-secondary">{{ medium["empty_medium_id"] }}</small>
                </div>
                {% endfor %}
            </div>
        </div>
        <button id="sendButton" type="button" class="btn btn-primary mt-4">
            確認送出 <i data-feather="send"></i>
        </button>
    </div>
    <input type="number" value="{{ current_user.member_id }}" id="checkerId" hidden>
    <input type="number" value="{{ perch_mount['perch_mount_id'] }}" id="perchMountId" hidden>
    {% endif %}
</main>
<script src="{{ url_for('static', filename='js/components/loading.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/empty_medium.js')}}"></script>
{% endblock %}