{% extends 'base.html' %}


{% block content %}
<link href="{{ url_for('static', filename='css/empty_check.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/full_screen.css')}}" rel="stylesheet">

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <h1 class="h1">精選</h1>

    </div>


    <div class="row mb-3 align-items-end">
        <div class="col-2">
            <label for="perchMount" class="form-label">棲架</label>
            <input type="text" class="form-control" id="perchMount" list="perchMountOptions">
            <datalist id="perchMountOptions">
                {% for perch_mount in perch_mounts %}
                <option value="{{ perch_mount['perch_mount_name'] }}">
                    {% endfor %}
            </datalist>
        </div>
        <div class="col-2">
            <label for="behavior" class="form-label">精選行為</label>
            <select id="behavior" class="form-select">
                <option value="0" selected>--</option>
                {% for behavior in behaviors %}
                <option value="{{ behavior['behavior_id'] }}">{{ behavior["chinese_name"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2">
            <label for="species" class="form-label">物種</label>
            <input type="text" class="form-control" id="species" list="speciesOptions">
            <datalist id="speciesOptions">
                {% for sp in species %}
                <option value="{{ sp['chinese_common_name'] }}">
                    {% endfor %}
            </datalist>
        </div>
        <div class="col-2">
            <label for="member" class="form-label">使用者</label>
            <select type="text" class="form-control" id="member">
                <option value="0">--</option>
                {% for member in members %}
                <option value="{{ member['member_id'] }}">{{ member["first_name"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-2">
            <button id="redirectFeatured" type="button" class="btn btn-primary">搜尋</button>
        </div>
    </div>
    {% if not media %}
    <div class="alert alert-success" role="alert">
        你選擇的條件沒有精選影像。
    </div>
    {% else %}

    <div class="shadow-sm bg-light p-3 rounded-2">
        <div id="load" class="text-center">
            <p class="text-secondary">正在讀取資料並下載所需要的照片...</p>
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div id="contents">
            <div id="empty_check_media" class="d-flex flex-wrap">

                {% for medium in media %}
                <div id="{{ medium['medium_id'] }}" class="card shadow border-0 border border-primary m-3 d-flex p-3" style="width: 20rem;">
                    <div class="d-flex justify-content-between">
                        <p>
                            <a href="{{ url_for('medium_page', perch_mount_id=medium['perch_mount_id'], section_id=medium['section_id'], medium_id=medium['medium_id']) }}" class="text-decoration-none">
                                {{ medium['file_name'] }}
                            </a>
                        </p>
                        <div>
                            <button class="dropdown-item download-medium" type="button" value="{{ medium['medium_id'] }}">
                                <i data-feather="download"></i>
                            </button>
                        </div>
                    </div>
                    <div class="mb-2">
                        {% if not medium['path'] %}
                        <img src="{{ url_for('static', filename='img/not_found.png') }}" class="card-img-top full-screen" alt="{{ medium['path']}} " loading="lazy">
                        {% else %}
                        <div>
                            {% if medium["is_image"] %}
                            <img src="{{ url_for('send_media', path=medium['epath']) }}" class="card-img-top full-screen" alt="{{ medium['path']}} " loading="lazy">
                            {% else %}
                            <video src="{{ url_for('send_media', path=medium['epath']) }}" class="card-img-top" controls></video>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-2">
                        <span class="badge rounded-pill text-bg-success me-1">{{ medium["behavior"] }}</span>
                        <span class="badge rounded-pill text-bg-secondary me-1">{{ medium["perch_mount_name"] }}</span>
                        {% for common_name in medium["species"] %}
                        {% if common_name %}
                        <span class="badge rounded-pill text-bg-primary me-1">{{ common_name }}</span>
                        {% endif %}
                        {% endfor %}
                        {% if medium["featured_by"] %}
                        <span class="badge rounded-pill text-bg-light me-1">by {{ medium["featured_by"] }}</span>
                        {% endif %}
                    </div>
                    <p>
                        {% if medium["title"] %}
                        {{ medium["title"] }}
                        {% endif %}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link {% if page == 0 %}disabled{% endif %}" href="{{ url_for('featured', page=[0, page - 1] | max, perch_mount_name=perch_mount_name, behavior_id=behavior_id, chinese_common_name=chinese_common_name, member_id=member_id) }}">Previous</a>
                </li>
                {% if page > 6 %}
                <li><a class="page-link disabled" href="">......</a></li>
                {% endif %}
                {% for p in range(first_page, end_page) %}
                <li class="page-item {% if p == page %}disabled{% endif %}">
                    <a class="page-link" href="{{ url_for('featured', page=p, perch_mount_name=perch_mount_name, behavior_id=behavior_id, chinese_common_name=chinese_common_name, member_id=member_id) }}">{{
                        p + 1 }}</a>
                </li>
                {% endfor %}
                {% if num_page - 6 >= page %} <li><a class="page-link disabled" href="">......</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link {% if page == num_page - 1 %}disabled{% endif %}" href="{{ url_for('featured', page=[num_page - 1, page + 1] | min, perch_mount_name=perch_mount_name, behavior_id=behavior_id, chinese_common_name=chinese_common_name, member_id=member_id) }}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    {% endif %}
</main>
<script src="{{ url_for('static', filename='js/components/loading.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/full_screen_image.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/download_medium.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/redirect_featured.js')}}"></script>

{% endblock %}