{% extends 'base.html' %}


{% block content %}
<link href="{{ url_for('static', filename='css/full_screen.css')}}" rel="stylesheet">

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">
            {% if medium["file_name"] %}
            {{ medium["file_name"] }}
            {% else %}
            {{ medium["medium_id"] }}
            {% endif %}
            {% if current_user.is_admin() %}
            <div class="btn-group ms-3" role="group">
                <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle border-0"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i data-feather="edit-2"></i>
                </button>
                <ul class="dropdown-menu">
                    <li class="mb-1">
                        <button id="updateProject" class="dropdown-item" type="button" data-bs-toggle="modal"
                            data-bs-target="#eventModal">
                            <i data-feather="alert-circle" class="me-2"></i>變更事件
                        </button>
                    </li>
                    <li class="mb-1">
                        <button id="updateHabitat" class="dropdown-item" type="button" data-bs-toggle="modal"
                            data-bs-target="#featuredModal">
                            <i data-feather="heart" class="me-2"></i>加入精選
                        </button>
                    </li>

                    <li class="mb-1">
                        <button class="dropdown-item download-medium{% if not medium['path'] %} disabled{% endif %}"
                            type="button" value="{{ medium['medium_id'] }}">
                            <i data-feather="download" class="me-2"></i>下載
                        </button>
                    </li>

                </ul>
            </div>
            {% endif %}
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
                <li class="breadcrumb-item">
                    <a href="{{ url_for('perch_mount', perch_mount_id=perch_mount['perch_mount_id']) }}">
                        {{ perch_mount["perch_mount_name"] }}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a
                        href="{{ url_for('section', perch_mount_id=perch_mount['perch_mount_id'], section_id=section['section_id']) }}">
                        {{ section["check_date"] }}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ medium["file_name"] }}</li>
            </ol>
        </nav>
    </div>
    <div class="shadow-sm bg-light-subtle p-3 rounded-2 mb-3">
        <div class="row mb-2">
            <div class="col-3">
                <ol class="list-group">
                    <li class="list-group-item">
                        棲架：
                        <a href="{{ url_for('perch_mount', perch_mount_id=perch_mount['perch_mount_id']) }}">
                            {{ perch_mount['perch_mount_name'] }}
                        </a>
                    </li>
                    <li class="list-group-item">計畫：{{ perch_mount['project'] }}</li>
                    <li class="list-group-item">棲地：{{ perch_mount['habitat'] }}</li>
                </ol>
            </div>
            <div class="col-3">
                <ol class="list-group">
                    <li class="list-group-item">
                        回收日期：
                        <a
                            href="{{ url_for('section', perch_mount_id=perch_mount['perch_mount_id'], section_id=section['section_id']) }}">
                            {{ section['check_date'] }}
                        </a>
                    </li>
                    <li class="list-group-item">
                        回收人員：
                        {% for operator in section["operators"] %}
                        {{ operator }},
                        {% endfor %}
                    </li>
                    <li class="list-group-item">相機：{{ section['camera'] }}</li>
                </ol>
            </div>
            <div class="col-3">
                <ol class="list-group">
                    <li class="list-group-item">媒體編號：{{ medium['medium_id'] }}</li>
                    <li class="list-group-item">拍攝日期：{{ medium['medium_datetime'] }}</li>
                    <li class="list-group-item">
                        事件：
                        {% if medium['event'] %}
                        {{ medium['event'] }}
                        {% endif %}
                    </li>
                </ol>
            </div>
            <div class="col-3">
                <ol class="list-group">
                    <li class="list-group-item">
                        精選：
                        {% if medium['featured_behavior'] %}
                        {{ medium['featured_title'] }},
                        {{ medium['featured_behavior'] }},
                        by {{ medium['featured_by'] }}
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        空拍檢查 by：
                        {% if medium['empty_checker'] %}
                        {{ medium['empty_checker'] }}
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        物種檢視 by：
                        {% if medium['reviewer'] %}
                        {{ medium['reviewer'] }}
                        {% endif %}
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ol class="list-group">
                    <li class="list-group-item">
                        {{ medium['path'] }}
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col">
                {% if medium['path'] %}
                <div>
                    {% if medium["is_image"] %}
                    <img src="{{ url_for('send_media', path=medium['epath']) }}" class="img-fluid rounded full-screen"
                        alt="...">
                    {% else %}
                    <video src="{{ url_for('send_media', path=medium['epath']) }}" class="img-fluid rounded"
                        controls></video>
                    {% endif %}
                </div>
                {% else %}
                <div class="alert alert-warning" role="alert">這筆資料沒有檔案資訊。</div>
                {% endif %}
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">AI 物種</th>
                            <th scope="col">物種</th>
                            <th scope="col">是否有標記</th>
                            <th scope="col">環號</th>
                            <th scope="col">是否有獵物</th>
                            <th scope="col">獵物</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for individual in individuals %}
                        <tr>
                            <th scope="row">
                                {{ individual["individual_id"] }}
                            </th>
                            <td>
                                {% if individual["ai_species"] %}
                                {{ individual["ai_species"] }}
                                {% endif %}
                            </td>
                            <td>
                                {% if individual["species"] %}
                                {{ individual["species"] }}
                                {% endif %}
                            </td>
                            <td>
                                {% if individual["tagged"] %}
                                <i data-feather="check"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if individual["ring_number"] %}
                                {{ individual["ring_number"] }}
                                {% endif %}
                            </td>
                            <td>
                                {% if individual["prey"] %}
                                <i data-feather="check"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if individual["prey_name"] %}
                                {{ individual["prey_name"] }}
                                {% endif %}
                            </td>
                            <td>
                                <div class="d-flex">
                                    {% if current_user.is_admin() %}

                                    <button class="dropdown-item text-danger delete-individual" type="button"
                                        value="{{ individual['individual_id'] }}">
                                        <i data-feather="trash-2"></i>
                                    </button>

                                    <div class="btn-group" role="group">
                                        <button type="button"
                                            class="btn btn-outline-secondary btn-sm dropdown-toggle border-0"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i data-feather="edit-2"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li class="mb-1">
                                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#speciesModal{{ individual['individual_id'] }}">
                                                    變更物種
                                                </button>
                                            </li>
                                            <li class="mb-1">
                                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#tagModal{{ individual['individual_id'] }}">
                                                    編輯標記
                                                </button>
                                            </li>
                                            <li class="mb-1">
                                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                                    data-bs-target="#preyModal{{ individual['individual_id'] }}">
                                                    編輯獵物
                                                </button>
                                            </li>
                                        </ul>
                                    </div>

                                    {% endif %}
                                </div>
                            </td>
                        </tr>


                        <!-- Species Modal -->
                        <div class="modal fade" id="speciesModal{{ individual['individual_id'] }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">變更物種</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control"
                                                id="species{{ individual['individual_id'] }}" placeholder=""
                                                value="{% if individual['species'] %}{{ individual['species'] }}{% endif %}">
                                            <label for="species{{ individual['individual_id'] }}">物種</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary update-species"
                                            value="{{ individual['individual_id'] }}">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tag Modal -->
                        <div class="modal fade" id="tagModal{{ individual['individual_id'] }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">編輯標記</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-check mb-3">
                                            {% if individual["tagged"] %}
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="tagged{{ individual['individual_id'] }}" checked>
                                            {% else %}
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="tagged{{ individual['individual_id'] }}">
                                            {% endif %}
                                            <label class="form-check-label"
                                                for="tagged{{ individual['individual_id'] }}">
                                                是否有標記
                                            </label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control"
                                                id="ring_number{{ individual['individual_id'] }}"
                                                value="{% if individual['ring_number'] %}{{ individual['ring_number'] }}{% endif %}"
                                                placeholder="">
                                            <label for="ring_number{{ individual['individual_id'] }}">環號</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary update-tag"
                                            value="{{ individual['individual_id'] }}">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Prey Modal -->
                        <div class="modal fade" id="preyModal{{ individual['individual_id'] }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">編輯獵物</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-check mb-3">
                                            {% if individual["prey"] %}
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="prey{{ individual['individual_id'] }}" checked>
                                            {% else %}
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="prey{{ individual['individual_id'] }}">
                                            {% endif %}
                                            <label class="form-check-label" for="prey{{ individual['individual_id'] }}">
                                                是否有獵物
                                            </label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control"
                                                id="prey_name{{ individual['individual_id'] }}"
                                                value="{% if individual['prey_name'] %}{{ individual['prey_name'] }}{% endif %}"
                                                placeholder="">
                                            <label for="prey_name{{ individual['individual_id'] }}">獵物</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary update-prey"
                                            value="{{ individual['individual_id'] }}">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
                    data-bs-target="#newIndividualModal">
                    新增個體
                </button>

                <!-- New Individual Modal -->
                <div class="modal fade" id="newIndividualModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">新增個體</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="newSpecies" placeholder="">
                                    <label for="newSpecies">物種</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="newIndividual" type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Event Modal -->
    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">選擇事件</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        <select class="form-select" id="event" aria-label="Floating label select example">
                            <option value="" selected>--</option>

                            {% for event in events %}
                            {% if event['chinese_name'] == medium["event"] %}
                            <option value="{{ event['event_id'] }}" selected>{{ event['chinese_name'] }}</option>
                            {% else %}
                            <option value="{{ event['event_id'] }}">{{ event['chinese_name'] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="project">事件</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="updateEvent" type="button" class="btn btn-primary"
                        value="{{ medium['medium_id'] }}">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Event Modal -->
    <div class="modal fade" id="featuredModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">選擇精選行為</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="featured_title" placeholder=""
                            value="{% if medium['featured_title'] %}{{ medium['featured_title'] }}{% endif %}">
                        <label for="floatingInput">精選標題</label>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="featured_behavior" aria-label="Floating label select example">
                            <option value="" selected>--</option>
                            {% for behavior in behaviors %}
                            {% if behavior['chinese_name'] == medium["featured_behavior"] %}
                            <option value="{{ behavior['behavior_id'] }}" selected>{{ behavior['chinese_name'] }}
                            </option>
                            {% else %}
                            <option value="{{ behavior['behavior_id'] }}">{{ behavior['chinese_name'] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="project">行為</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="updateFeatured" type="button" class="btn btn-primary"
                        value="{{ medium['medium_id'] }}">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <input id="current_user" type="number" value="{{ current_user.member_id }}" hidden>
    <input id="medium_id" type="text" value="{{ medium['medium_id'] }}" hidden>

</main>
<script src="{{ url_for('static', filename='js/components/full_screen_image.js')}}"></script>
<script src="{{ url_for('static', filename='js/components/download_medium.js')}}"></script>
<script src="{{ url_for('static', filename='js/api/patch_medium.js')}}"></script>
<script src="{{ url_for('static', filename='js/api/patch_individual.js')}}"></script>
<script src="{{ url_for('static', filename='js/api/delete_individual.js')}}"></script>
<script src="{{ url_for('static', filename='js/api/post_individual.js')}}"></script>



{% endblock %}