{% extends 'base.html' %}


{% block content %}
<link href="{{ url_for('static', filename='css/empty_check.css')}}" rel="stylesheet">

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">{{ member["last_name"] }} {{ member["first_name"] }} ( {{ member["user_name"] }} )</h1>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <p class="text-secondary">空拍檢查檔案數</p>
            <h3>
                {% if contributions["checks"] and contributions["checks"] > 999 %}
                <div>
                    {% if contributions["checks"] > 999999 %}
                    {{ "%.1f M"|format(contributions["checks"] / 1000000) }}
                    {% else %}
                    {{ "%.1f k"|format(contributions["checks"] / 1000) }}
                    {% endif %}
                </div>
                {% else %}
                {{ contributions["checks"] }}
                {% endif %}
            </h3>
        </div>
        <div class="col-2">
            <p class="text-secondary">物種檢視檔案數</p>
            <h3>
                {% if contributions["reviews"] and contributions["reviews"] > 999 %}
                <div>
                    {% if contributions["reviews"] > 999999 %}
                    {{ "%.1f M"|format(contributions["reviews"] / 1000000) }}
                    {% else %}
                    {{ "%.1f k"|format(contributions["reviews"] / 1000) }}
                    {% endif %}
                </div>
                {% else %}
                {{ contributions["reviews"] }}
                {% endif %}
            </h3>
        </div>
        <div class="col-2">
            <p class="text-secondary">回收棲架數</p>
            <h3>
                {% if contributions["operations"] and contributions["operations"] > 999 %}
                <div>
                    {% if contributions["operations"] > 999999 %}
                    {{ "%.1f M"|format(contributions["operations"] / 1000000) }}
                    {% else %}
                    {{ "%.1f k"|format(contributions["operations"] / 1000) }}
                    {% endif %}
                </div>
                {% else %}
                {{ contributions["operations"] }}
                {% endif %}
            </h3>
        </div>
    </div>

    <div class="shadow-sm bg-light-subtle p-3 rounded-2">
        <h4 class="fw-bold text-secondary mb-3">認領棲架</h4>
        {% if not perch_mounts %}
        <div class="alert alert-light" role="alert">
            目前沒有認領中的棲架。
        </div>
        {% endif %}
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for perch_mount in perch_mounts %}
            <div id="perch_mount_{{ perch_mount['perch_mount_id'] }}" class="col project_{{ perch_mount['project_id'] }} habitat_{{ perch_mount['habitat_id'] }} filt-target">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <a href="{{ url_for('perch_mount', perch_mount_id=perch_mount['perch_mount_id']) }}" class="text-decoration-none text-light fw-bolder">
                            <h5 class="card-title">
                                {{ perch_mount["perch_mount_id"] }}. {{ perch_mount["perch_mount_name"] }}
                                {% if perch_mount["layer"] %}
                                ( {{ perch_mount["layer"] }} )
                                {% endif %}
                            </h5>
                        </a>
                        {% if perch_mount["is_priority"] %}
                        <span class="badge rounded-pill text-bg-danger">優先處裡</span>
                        {% endif %}
                        {% if perch_mount["habitat_id"] == 1 %}
                        <span class="badge rounded-pill text-bg-success">{{ perch_mount["habitat"] }}</span>
                        {% elif perch_mount["habitat_id"] == 2 %}
                        <span class="badge rounded-pill text-bg-primary">{{ perch_mount["habitat"] }}</span>
                        {% else %}
                        <span class="badge rounded-pill text-bg-dark">{{ perch_mount["habitat"] }}</span>
                        {% endif %}
                        <span class="badge rounded-pill text-bg-secondary">{{ perch_mount["project"] }}</span>
                        {% if perch_mount["latest_note"] %}
                        <span class="badge rounded-pill text-bg-light">{{ perch_mount["latest_note"] }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</main>
<script src="{{ url_for('static', filename='js/api/post_member.js')}}"></script>
{% endblock %}