{% extends 'base.html' %}


{% block content %}
<link href="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.css" rel="stylesheet" />

<style>
    a.disabled {
        pointer-events: none;
        color: grey;
    }
</style>


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h3">待處理資料</h3>

    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">待人力檢查資料</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">待 AI 辨識</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

            <div class="row">
                <div class="col-3">
                    <div class="my-3">
                        <select id="project_filter" class="form-select" aria-label="Default select example">
                            <option value="" selected>-- 篩選計畫 --</option>
                            {% for project in projects %}
                            <option value="{{ project['project_id'] }}">{{ project['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <input id="member_id" type="number" value="{{ current_user.member_id }}" hidden>
            <table class="table sortable">
                <thead>
                    <tr>
                        <th>優先處裡</th>
                        <th scope="col">認領</th>
                        <th scope="col">棲架名稱</th>
                        <th scope="col">計畫</th>
                        <th scope="col">
                            待空拍檢查
                            {% if total_empty %}
                            ({{ total_empty }})
                            {% else %}
                            (0)
                            {% endif %}
                        </th>
                        <th scope="col">
                            待物種辨識
                            {% if total_detected %}
                            ({{ total_detected }})
                            {% else %}
                            (0)
                            {% endif %}
                        </th>
                        <th scope="col">最後備註</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for perch_mount in pendings %}
                    <tr id="perch_mount_{{ perch_mount['perch_mount_id'] }}" class="project_{{ perch_mount['project_id'] }}">
                        <th>

                            {% if current_user.is_super_admin() %}
                            <div>
                                {% if perch_mount["is_priority"] %}
                                <button type="button" class="btn btn-sm btn-outline-danger unprior-perch-mount" value="{{ perch_mount['perch_mount_id'] }}">取消優先</button>
                                {% else %}
                                <button type="button" class="btn btn-sm btn-outline-secondary prior-perch-mount" value="{{ perch_mount['perch_mount_id'] }}">設為優先</button>
                                {% endif %}
                            </div>
                            {% else %}
                            <div>
                                {% if perch_mount["is_priority"] %}
                                <i data-feather="check"></i>
                                {% endif %}
                            </div>
                            {% endif %}
                        </th>
                        <td>
                            {% if perch_mount["claim_by"] %}
                            <div>
                                {% if perch_mount["claim_by"] == current_user.first_name %}
                                <button type="button" class="btn btn-sm btn-outline-primary unclaim-perch-mount" value="{{ perch_mount['perch_mount_id'] }}">取消認領</button>
                                {% else %}
                                <span class="text-light">
                                    {{ perch_mount["claim_by"] }}
                                </span>
                                {% endif %}
                            </div>
                            {% else %}
                            <button type="button" class="btn btn-sm btn-outline-primary claim-perch-mount" value="{{ perch_mount['perch_mount_id'] }}">認領</button>
                            {% endif %}
                        </td>
                        <td>
                            <a class="text-decoration-none" href="{{ url_for('perch_mount', perch_mount_id=perch_mount['perch_mount_id']) }}">{{ perch_mount["perch_mount_name"] }}</a>
                        </td>
                        <td>
                            <span class="text-light">
                                {{ perch_mount["project"] }}
                            </span>
                            <input type="number" value="{{ perch_mount['project_id'] }}" name="project_id" hidden>
                        </td>
                        <td class="empty-count rounded align-middle">
                            {% if perch_mount["empty_count"] %}
                            {{ perch_mount["empty_count"] }}
                            {% else %}
                            0
                            {% endif %}</td>
                        <td class="detected-count rounded align-middle">
                            {% if perch_mount["detected_count"] %}
                            {{ perch_mount["detected_count"]}}
                            {% else %}
                            0
                            {% endif %}</td>
                        <td>
                            <span class="text-light">
                                {{ perch_mount["latest_note"] }}
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-white" type="button">
                                <a href="{{ url_for('empty_check_perch_mount', perch_mount_id=perch_mount['perch_mount_id']) }}" class="{% if not perch_mount['empty_count'] %}disabled{% endif %}">
                                    <i data-feather="video-off"></i>
                                    檢查空拍
                                </a>
                            </button>
                            <button class="btn btn-white" type="button">
                                <a href="{{ url_for('review_perch_mount', perch_mount_id=perch_mount['perch_mount_id']) }}" class="{% if not perch_mount['detected_count'] %}disabled{% endif %}">
                                    <i data-feather="eye"></i>
                                    檢視物種
                                </a>
                            </button>
                            <!-- <button class="btn btn-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" name="show_trand" value="{{ perch_mount['perch_mount_id'] }}">
                                <i data-feather="trending-up"></i>
                            </button> -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            {% if not ai_tasks | length %}
            <div class="alert alert-success mt-3" role="alert">
                目前沒有正在等待自動辨識的資料。
            </div>
            {% else %}
            <ul class="list-group mt-3">
                {% for task in ai_tasks %}
                <li class="list-group-item">{{ task }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

    </div>




    <div class="offcanvas offcanvas-top" style="height: 80%;" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-body">
            <div id="pending" style="width: 100%; height: 100%;"></div>
        </div>
    </div>

    <input type="number" id="member" value="{{ current_user.member_id }}" hidden>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"></script>
<script src="{{ url_for('static', filename='js/components/pending.js')}}"></script>
<script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"></script>
<script src="{{ url_for('static', filename='js/api/priority_perch_mount.js')}}"></script>
<script src="{{ url_for('static', filename='js/api/claim_perch_mount.js')}}"></script>
{% endblock %}