{% extends 'base.html' %}


{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
            <h1 class="h1">
                {{ perch_mount["perch_mount_name"] }}
                {% if perch_mount["terminated"] %}
                <span>
                    ( 已撤收 )
                </span>
                {% endif %}
                <div class="btn-group ms-3" role="group">
                    <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle border-0" data-bs-toggle="dropdown" aria-expanded="false">
                        <i data-feather="edit-2"></i>
                    </button>
                    <ul class="dropdown-menu">
                        {% if current_user.is_admin() %}
                        <li class="mb-1">
                            <button id="updateCoordination" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#coordinationModal">
                                <i data-feather="map-pin" class="me-2"></i>編輯座標
                            </button>
                        </li>
                        <li class="mb-1">
                            <button id="updateProject" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#projectModal">
                                <i data-feather="book" class="me-2"></i>變更計畫
                            </button>
                        </li>
                        <li class="mb-1">
                            <button id="updateHabitat" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#habitatModal">
                                <i data-feather="globe" class="me-2"></i>變更棲地
                            </button>
                        </li>
                        <li class="mb-1">
                            {% if not perch_mount["terminated"] %}
                            <button id="terminatePerchMount" class="dropdown-item" type="button" value="{{ perch_mount['perch_mount_id'] }}">
                                <i data-feather="x-circle" class="me-2"></i>撤收棲架
                            </button>
                            {% else %}
                            <button id="resetPerchMount" class="dropdown-item" type="button" value="{{ perch_mount['perch_mount_id'] }}">
                                <i data-feather="-circle" class="me-2"></i>回復棲架
                            </button>
                            {% endif %}
                        </li>
                        {% if current_user.is_super_admin() %}
                        <li class="mb-1">
                            {% if perch_mount["is_priority"] %}
                            <button id="unpriorPerchMount" class="dropdown-item unprior-perch-mount" type="button" value="{{ perch_mount['perch_mount_id'] }}">
                                <i data-feather="zap-off" class="me-2"></i>取消優先
                            </button>
                            {% else %}
                            <button id="priorPerchMount" class="dropdown-item prior-perch-mount" type="button" value="{{ perch_mount['perch_mount_id'] }}">
                                <i data-feather="zap" class="me-2"></i>設為優先
                            </button>
                            {% endif %}
                        </li>
                        {% endif %}
                        <li class="mb-1">
                            {% if current_user.is_admin() %}
                            <button id="asignPerchMount" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#asignPerchMountModel">
                                <i data-feather="gift" class="me-2"></i>指派認領
                            </button>
                            {% endif %}
                        </li>
                        {% endif %}
                        {% if not current_user.is_admin() %}
                        <li class="mb-1">

                            {% if perch_mount["claim_by"] %}

                            <button id="cancelClaimPerchMount" class="unclaim-perch-mount dropdown-item {% if current_user.user_name != perch_mount['claim_by'] %}disabled{% endif %}" type="button" value="{{ perch_mount['perch_mount_id'] }}">
                                <i data-feather="thumbs-down" class="me-2"></i>取消認領
                            </button>

                            {% else %}
                            <button id="claimPerchMount" class="claim-perch-mount dropdown-item" type="button" value="{{ perch_mount['perch_mount_id'] }}">
                                <i data-feather="thumbs-up" class="me-2"></i>認領棲架
                            </button>
                            {% endif %}

                        </li>
                        {% endif %}
                    </ul>
                </div>

                <br>
            </h1>
            {% if perch_mount["is_priority"] %}
            <span class="badge rounded-pill text-bg-danger">優先處裡</span>
            {% endif %}
            {% if perch_mount["claim_by"] %}
            <span class="badge rounded-pill text-bg-secondary">{{ perch_mount["claim_by"] }} 認領</span>
            {% endif %}
        </div>
        <div class="d-flex">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ perch_mount["perch_mount_name"] }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="shadow-sm p-3 rounded-2 mb-3">
        <div class="row">
            <div class="col-2">
                <ol class="list-group">
                    <li class="list-group-item">棲架編號：{{ perch_mount['perch_mount_id'] }}</li>
                    <li class="list-group-item">
                        座標：
                        {{ perch_mount['latitude'] }}, {{ perch_mount['longitude'] }}
                        <a target="_blank" class="" href="https://www.google.com/maps/search/?api=1&query={{ perch_mount['latitude'] }},{{ perch_mount['longitude'] }}">
                            <button type="button" class="btn btn-link btn-sm"><i data-feather="map-pin"></i></button>
                        </a>
                    </li>
                    <li class="list-group-item">
                        最後備註：
                        {% if perch_mount['latest_note'] %}
                        {{ perch_mount['latest_note'] }}
                        {% endif %}
                    </li>
                </ol>
            </div>
            <div class="col-2">
                <ol class="list-group">
                    <li class="list-group-item">棲地：{{ perch_mount['habitat'] }}</li>
                    <li class="list-group-item">計畫：{{ perch_mount['project'] }}</li>
                    <li class="list-group-item">
                        分層：
                        {% if perch_mount['layer'] %}
                        {{ perch_mount['layer'] }}
                        {% endif %}
                    </li>
                </ol>
            </div>
            <div class="col-2">
                <p class="text-secondary">完成檔案量</p>
                <h3>
                    {% if media_count["count"] and media_count["count"] > 999 %}
                    <div>
                        {% if media_count["count"] > 999999 %}
                        {{ "%.1f M"|format(media_count["count"] / 1000000) }}
                        {% else %}
                        {{ "%.1f k"|format(media_count["count"] / 1000) }}
                        {% endif %}
                    </div>
                    {% else %}
                    {{ media_count["count"] }}
                    {% endif %}
                </h3>
            </div>
            <div class="col-2">
                <p class="text-secondary">完成率</p>
                <h3>
                    {% if complete_rate %}
                    {{ complete_rate }} %
                    {% else %}
                    無資料
                    {% endif %}
                </h3>
            </div>
            <div class="col-2">
                <p class="text-secondary">待物種檢視</p>
                <h3>
                    {% if media_count["detected_count"] and media_count["detected_count"] > 999 %}
                    <div>
                        {% if media_count["detected_count"] > 999999 %}
                        {{ "%.1f M"|format(media_count["detected_count"] / 1000000) }}
                        {% else %}
                        {{ "%.1f k"|format(media_count["detected_count"] / 1000) }}
                        {% endif %}
                    </div>
                    {% else %}
                    {{ media_count["detected_count"] }}
                    {% endif %}
                </h3>
                <a href="{{ url_for('review_perch_mount', perch_mount_id=perch_mount['perch_mount_id']) }}" class="btn btn-outline-secondary btn-sm {% if not media_count['detected_count'] %}disabled{% endif %}">去檢視物種</a>
            </div>
            <div class="col-2">
                <p class="text-secondary">待空拍檢查</p>
                <h3>
                    {% if media_count["empty_count"] and media_count["empty_count"] > 999 %}
                    <div>
                        {% if media_count["empty_count"] > 999999 %}
                        {{ "%.1f M"|format(media_count["empty_count"] / 1000000) }}
                        {% else %}
                        {{ "%.1f k"|format(media_count["empty_count"] / 1000) }}
                        {% endif %}
                    </div>
                    {% else %}
                    {{ media_count["empty_count"] }}
                    {% endif %}
                </h3>
                <a href="{{ url_for('empty_check_perch_mount', perch_mount_id=perch_mount['perch_mount_id']) }}" class="btn btn-outline-secondary btn-sm {% if not media_count['empty_count'] %}disabled{% endif %}">去檢查空拍</a>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-section" type="button" role="tab" aria-controls="pills-media" aria-selected="true">Section</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-month" type="button" role="tab" aria-controls="pills-detected" aria-selected="false">Month</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-prey" type="button" role="tab" aria-controls="pills-prey" aria-selected="false">Prey</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-section" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Section ID</th>
                        <th scope="col">開始時間</th>
                        <th scope="col">結束時間</th>
                        <th scope="col">回收日期</th>
                        <th scope="col">棲架類型</th>
                        <th scope="col">相機型號</th>
                        <th scope="col">回收人員</th>
                        <th scope="col">有效紀錄</th>
                        <th scope="col">待物種檢視</th>
                        <th scope="col">預空拍刪除</th>
                        <th scope="col">待空拍檢查</th>
                        <th scope="col">備註</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                    <tr>
                        <th scope="row">{{ section["section_id"] }}</th>
                        <td>{{ section["start_time"] }}</td>
                        <td>{{ section["end_time"] }}</td>
                        <td>
                            <a href="{{ url_for('section',perch_mount_id=perch_mount['perch_mount_id'], section_id=section['section_id']) }}">
                                {{ section["check_date"] }}
                            </a>
                        </td>
                        <td>{{ section["mount_type"] }}</td>
                        <td>{{ section["model_name"] }}</td>
                        <td>
                            {% for operator in section["operators"] %}
                            {{ operator }},
                            {% endfor %}
                        </td>
                        <td>
                            {% if section["valid"] %}
                            <i data-feather="check"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if section["detected_count"] %}
                            <a href="{{ url_for('review_section', perch_mount_id=perch_mount['perch_mount_id'], section_id=section['section_id']) }}">
                                <button type="button" class="btn btn-outline-secondary btn-sm" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    review <span class="badge text-bg-secondary ms-1">{{ section["detected_count"]}}</span>
                                </button>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if section["pre_empty_count"] %}
                            <a href="{{ url_for('empty_check_detected_section', perch_mount_id=perch_mount['perch_mount_id'], section_id=section['section_id']) }}">
                                <button type="button" class="btn btn-outline-secondary btn-sm" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    precheck <span class="badge text-bg-secondary ms-1">{{ section["pre_empty_count"]}}</span>
                                </button>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if section["empty_count"] %}
                            <a href="{{ url_for('empty_check_section', perch_mount_id=perch_mount['perch_mount_id'], section_id=section['section_id']) }}">
                                <button type="button" class="btn btn-outline-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    check <span class="badge text-bg-secondary ms-1">{{ section["empty_count"] }}</span>
                                </button>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if section["note"] %}
                            {{ section["note"] }}
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade show" id="pills-month" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <div class="row">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Year Month</th>
                                <th scope="col">待物種檢視</th>
                                <th scope="col">已完成</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for count in month_detected_count %}
                            <tr>

                                <td>
                                    {{ count["year_month"] }}
                                </td>
                                <td>
                                    {% if count["count"] %}
                                    <a href="{{ url_for('review_month_perch_mount', perch_mount_id=perch_mount['perch_mount_id'], year_month=count['year_month']) }}">
                                        <button type="button" class="btn btn-outline-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                            review <span class="badge text-bg-secondary ms-1">{{ count["count"]
                                                }}</span>
                                        </button>
                                    </a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if count["reviewed_count"] %}
                                    {{ count["reviewed_count"] }}
                                    {% else %}
                                    0
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if not month_detected_count %}
                    <div class="alert alert-success" role="alert">
                        所有物種都檢視完了！
                    </div>
                    {% endif %}
                </div>
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Year Month</th>
                                <th scope="col">待空拍檢查</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for count in month_empty_count %}
                            <tr>

                                <td>
                                    {{ count["year_month"] }}
                                </td>
                                <td>
                                    {% if count["count"] %}
                                    <a href="{{ url_for('empty_check_month_perch_mount', perch_mount_id=perch_mount['perch_mount_id'], year_month=count['year_month']) }}">
                                        <button type="button" class="btn btn-outline-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                            check <span class="badge text-bg-secondary ms-1">{{ count["count"] }}</span>
                                        </button>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if not month_empty_count %}
                    <div class="alert alert-success" role="alert">
                        所有空拍都檢查完了！
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="tab-pane fade show" id="pills-prey" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Section ID</th>
                        <th scope="col">回收日期</th>
                        <th scope="col">尚未辨認猛禽</th>
                        <th scope="col">尚未辨認其他鳥</th>
                        <th scope="col">已辨認 / 總獵物</th>
                    </tr>
                </thead>
                <tbody>
                    {% for count in section_prey_count %}
                    <tr>
                        <th scope="row">{{ count["section"] }}</th>
                        <td>{{ count["check_date"] }}</td>
                        <td>
                            {% if count["prey_count"] %}
                            <a href="{{ url_for('identify_prey', perch_mount_id=perch_mount['perch_mount_id'], section_id=count['section'], predator='raptor') }}">
                                <button type="button" class="btn btn-outline-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    去認猛禽的獵物 <span class="badge text-bg-secondary ms-1">
                                        {% if count["raptor_count"] %}
                                        {{ count["raptor_count"] }}
                                        {% else %}
                                        0
                                        {% endif %}
                                    </span>
                                </button>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if count["prey_count"] %}
                            <a href="{{ url_for('identify_prey', perch_mount_id=perch_mount['perch_mount_id'], section_id=count['section'], predator='other') }}">
                                <button type="button" class="btn btn-outline-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                    去認其他鳥的獵物 <span class="badge text-bg-secondary ms-1">
                                        {% if count["other_count"] %}
                                        {{ count["other_count"] }}
                                        {% else %}
                                        0
                                        {% endif %}
                                    </span>
                                </button>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if count["prey_count"] %}
                            {% if count["identified_count"] %}
                            {{ count["identified_count"] }}
                            {% else %}
                            0
                            {% endif %}
                            /
                            {{ count["prey_count"] }}

                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not section_prey_count %}
            <div class="alert alert-success" role="alert">
                這個棲架沒有拍攝到獵物！
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Coordination Modal -->
    <div class="modal fade" id="coordinationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">編輯座標</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="number" step="0.00001" class="form-control" id="latitude" placeholder="" value="{{ perch_mount['latitude'] }}">
                        <label for="latitude">緯度</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" step="0.00001" class="form-control" id="longitude" placeholder="" value="{{ perch_mount['longitude'] }}">
                        <label for="longitude">經度</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="submitCoordinate" type="button" class="btn btn-primary" value="{{ perch_mount['perch_mount_id'] }}">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Project Modal -->
    <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">變更計畫</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        <select class="form-select" id="project" aria-label="Floating label select example">
                            {% for project in projects %}
                            {% if project['name'] == perch_mount["project"] %}
                            <option value="{{ project['project_id'] }}" selected>{{ project['name'] }}</option>
                            {% else %}
                            <option value="{{ project['project_id'] }}">{{ project['name'] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="project">計畫</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="submitProject" type="button" class="btn btn-primary" value="{{ perch_mount['perch_mount_id'] }}">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Habitat Modal -->
    <div class="modal fade" id="habitatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">變更棲地</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        <select class="form-select" id="habitat" aria-label="Floating label select example">
                            {% for habitat in habitats %}
                            {% if habitat['chinese_name'] == perch_mount["habitat"] %}
                            <option value="{{ habitat['habitat_id'] }}" selected>{{ habitat['chinese_name'] }}</option>
                            {% else %}
                            <option value="{{ habitat['habitat_id'] }}">{{ habitat['chinese_name'] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="habitat">棲地</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="submitHabitat" type="button" class="btn btn-primary" value="{{ perch_mount['perch_mount_id'] }}">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Asign Perch Mount Modal -->
    <div class="modal fade" id="asignPerchMountModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">指派認領</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating">
                        <select class="form-select" id="member" aria-label="Floating label select example">
                            <option value="">--</option>
                            {% for member in members %}
                            {% if member['user_name'] == perch_mount["claim_by"] %}
                            <option value="{{ member['member_id'] }}" selected>{{ member['first_name'] }}</option>
                            {% else %}
                            <option value="{{ member['member_id'] }}">{{ member['first_name'] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label for="member">認領人</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="submitClaimBy" type="button" class="btn btn-primary" value="{{ perch_mount['perch_mount_id'] }}">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <input type="number" id="current_member_id" hidden value="{{ current_user.member_id }}">
</main>
<script src="{{ url_for('static', filename='js/api/patch_perch_mount.js')}}"></script>
<script src="{{ url_for('static', filename='js/api/claim_perch_mount.js')}}"></script>
<script src="{{ url_for('static', filename='js/api/priority_perch_mount.js')}}"></script>
{% endblock %}