{% extends 'base.html' %}


{% block content %}
<link href="{{ url_for('static', filename='css/index.css')}}" rel="stylesheet">

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">{{ perch_mount["perch_mount_name"] }} {{ section["check_date"] }}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
                <li class="breadcrumb-item">
                    <a href="{{ url_for('perch_mount', perch_mount_id=perch_mount['perch_mount_id']) }}">
                        {{ perch_mount["perch_mount_name"] }}
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ section["check_date"] }}</li>
            </ol>
        </nav>
    </div>
    <div class="shadow-sm bg-light p-3 rounded-2">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-media" type="button" role="tab" aria-controls="pills-media" aria-selected="true">
                    已辨識資料 ({{ media|length }})
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-detected" type="button" role="tab" aria-controls="pills-detected" aria-selected="false">
                    待物種檢視 ({{ detected_media|length }})
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-empty" type="button" role="tab" aria-controls="pills-empty" aria-selected="false">
                    待空拍檢查 ({{ empty_media|length }})
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-media" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Medium ID</th>
                            <th scope="col">拍攝時間</th>
                            <th scope="col">物種檢視</th>
                            <th scope="col">空拍檢查</th>
                            <th scope="col">精選</th>
                            <th scope="col">事件</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for medium in media %}
                        <tr>
                            <th scope="row">
                                {{ medium["medium_id"] }}
                                {% if current_user.is_admin() %}
                                <button type="button" class="btn btn-link btn-sm" data-bs-toggle="modal" data-bs-target="#mediumEditerModal">
                                    <i data-feather="edit"></i>
                                </button>
                                {% endif %}
                            </th>
                            <td>{{ medium["medium_datetime"] }}</td>
                            <td>{{ medium["reviewer"] }}</td>
                            <td>{{ medium["empty_checker"] }}</td>
                            <td>
                                {% if medium["featured_behavior"] %}
                                <i data-feather="heart"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if medium["event"] %}
                                {{ medium["event"] }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="pills-detected" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Medium ID</th>
                            <th scope="col">拍攝時間</th>
                            <th scope="col">空拍檢查</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for medium in detected_media %}
                        <tr>
                            <th scope="row">{{ medium["detected_medium_id"] }}</th>
                            <td>{{ medium["medium_datetime"] }}</td>
                            <td>{{ medium["empty_checker"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="pills-empty" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Medium ID</th>
                            <th scope="col">拍攝時間</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for medium in empty_media %}
                        <tr>
                            <th scope="row">{{ medium["empty_medium_id"] }}</th>
                            <td>{{ medium["medium_datetime"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>


    <!-- Medium Editor Modal -->
    <div class="modal fade" id="mediumEditerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}