{% extends 'base.html' %}


{% block content %}
<link href="{{ url_for('static', filename='css/empty_check.css')}}" rel="stylesheet">

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">物種列表</h1>
    </div>

    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">中文俗名</th>
                    <th scope="col">英文俗名</th>
                    <th scope="col">學名</th>

                    <th scope="col">留棲狀態</th>
                    <th scope="col">特有性</th>
                    <th scope="col">保育等級</th>
                </tr>
            </thead>
            <tbody>
                {% for sp in species %}
                <tr>
                    <td scope="row">{{ sp["taxon_order"] }}</td>
                    <td>
                        {% if sp["chinese_common_name"] %}
                        {{ sp["chinese_common_name"] }}
                        {% endif %}
                    </td>
                    <td>{{ sp["english_common_name"] }}</td>
                    <td>
                        <p class="fst-italic">{{ sp["scientific_name"] }}</p>
                    </td>
                    <td>
                        {% if sp["taiwan_status"] %}
                        {{ sp["taiwan_status"] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if sp["endemism"] %}
                        {{ sp["endemism"] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if sp["conservation_status"] %}
                        {{ sp["conservation_status"] }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</main>

{% endblock %}