{% extends 'base.html' %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/a11y-dark.min.css">

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h1">{{ update["create_date"] }} 更新</h1>
    </div>
    <div class="shadow-sm bg-light p-3 rounded-2">
        {% filter markdown %}
        {{ update["detail"] }}
        {% endfilter %}
    </div>
    <div class="shadow-sm bg-light p-3 rounded-2 mt-5">
        <h5 class="fw-bold">更新指南</h5>
        <p>打開終端機，進入專案資料夾</p>
        <pre class="shadow rounded"><code class="language-dos" style="font-size: 1rem;">cd /d d:perch-mount-system/perch-mount-system</code></pre>
        <p>從 GitHub 拉取更新</p>
        <pre class="shadow rounded"><code class="language-dos" style="font-size: 1rem;">git pull</code></pre>

        <p>再重新打開桌面的 Apache Server 就更新完成了！</p>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/dos.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}